<?xml version="1.0" encoding="utf-8"?>
<appearanceConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.2.6602.0">
  <frontendThemes>
    <add path="~/App_Data/Sitefinity/WebsiteTemplates/DefaultTemplate/App_Themes/DefaultTemplate" name="DefaultTemplate" />
  </frontendThemes>
</appearanceConfig>