<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.2.6602.0" authCookieName=".SFAUTH-VarsityII" rolesCookieName=".SFROLES-VarsityII" validationKey="FCA835D85981FC72FAEDFDF97E2186A764F289429C716DAC5192F0961FF6FEF85647CE64C07420E98A04BE12044DB9624D1889930164FD80974446A1CDBDCD66" decryptionKey="4DA4DDC3AA99C8EDF068D5E6179E425C0FB7B6C1650D8D04E05E76DCC0435E59" loggingCookieName=".SFLOG-VarsityII">
	<securityTokenIssuers>
		<add key="A45AFDFD8FF575FAA1254AA2BCD13624409AD64CCFCBC50BEDC1A532F29C8D65" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="A45AFDFD8FF575FAA1254AA2BCD13624409AD64CCFCBC50BEDC1A532F29C8D65" realm="http://localhost" />
	</relyingParties>
</securityConfig>