<?xml version="1.0" encoding="utf-8"?>
<toolboxesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.2.6602.0">
  <toolboxes>
    <toolbox name="PageControls" xmlns:flags="1">
      <sections />
    </toolbox>
  </toolboxes>
</toolboxesConfig>